body{
    background-color: blue;
    color: white;;
}
.show{
    animation: show 1500ms linear forwards;
}
.user-character img{
    width:  250px;
    height: 250px;
    padding: 10px;
    margin: 30px;
}
.landingPage{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.user-detail{
    opacity: 0;
}